*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0px;
    padding: 0px;
    background: url(01.jpeg);
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.left{
    /* border: 2px solid red; */
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 43px;
    left: 34px;

}
.left div a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.mid{
    /* border: 2px solid green; */
    overflow: hidden;
    display: block;
    width: 40%;
    margin: 35px auto;
}
.right{
    /* border: 2px solid yellow; */
    display: inline-block;
    position: absolute;
    top: 43px;
    right: 34px;
}
.navbar .icon{
    display: none;
}
.navbar{
    display: inline-block;
    /* background-color: black; */
}
.navbar li{
    display: inline-block;
    font-size: 28px;
    border: 2px solid cyan;
    border-radius: 50px;

}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 30px 32px;
    /* background-color: blueviolet; */
}
.navbar li a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.navbar li a.active{
    text-decoration: underline;
}
.left img{
    width: 120px;
}
.left div{
    text-align: center;
    line-height: 0px;
    font-size: 22px;
}
.btn
{
    margin: 0px 10px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: grey;
    color: black;
}
.wrapper{
    max-width: 440px;
    padding: 0 20px;
    margin: 170px auto;
}
.container{
    width:100%;
    background: white;
    border-radius: 5px;
}
.container .title{
    line-height: 90px;
    background: #27ae60;
    text-align: center;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.container form{
    padding: 30px 25px 25px 25px;
}
.container form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.container form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 15px;
    transition: all 0.3s ease;
}
form .row input:focus{
    border-color: #27ae60;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
.container form .forgot-password{
    margin: -8px 0 15px 0;
}
.container form .forgot-password a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.container form .forgot-password a:hover{
    text-decoration: underline;
}
.container form .button input{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0px;
    background: #27ae60;
    border: 1px solid #27ae60;
    cursor: pointer;
}
.container form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
.container form .signup-link a{
    color: black;
    text-decoration: none;
}
.container form .signup-link a:hover{
    text-decoration: underline;
}
footer{
    background-color: #000000;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.connect{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.socialhandles{
    margin: 30px 0;
}
.socialhandles ul{
    display: flex;
    justify-content: center;
    list-style-type:none disc;
}
.socialhandles ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity:0.7;
    transition: 0.5s;
}
.socialhandles ul li a:hover{
    opacity:1;
    text-decoration: underline;
}
.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .socialhandles ul{
        flex-direction: column;
    }
    .socialhandles ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

  /* Remove extra left and right margins, due to padding in columns */
  .productcard {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .productcard:after {
    content: "";
    display: table;
    clear: both;
  }
  .card {
    display: grid;
    overflow: hidden;
    width: 25%;
    padding: 5px;
    margin: 40px;
    text-align: center;
    float: left;
    color: white;
    padding-left: 10px;
  }
  
  .price {
    color: white;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 15px;
    color: black;
    background-color: #27ae60;
    border: 2px solid rgb(26, 89, 89);
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
}
.card button:hover{
    border: 2px solid aqua;
    border-radius: 15px;
}
  

/* GEneral stuff */
/* *,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    line-height: 1.15;
}
body{
    font-family: 'lato', sans-serif;
    color: #454545;
    font-weight: 300;
    background: #ffffff;
} */
a{
    color: #ffffff;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}
a:hover,
a:focus{
    outline: none;
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-weight: 700;
}
img{
    width: 100%;
    height: auto;
}
.container1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}
.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background-color: #50c5fc;
    bottom: -5px;

}
.container1 .section-title h1::before{
    left: 30%;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.column1{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}
.team{
    margin-bottom:30px ;
}
.team .team-img{
    position: relative;
    font-size: 0;
    text-align: center;
}
.team .team-img img{
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #8c98de;
}

.team .team-content{
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: rgb(67, 105, 105);
    border: 5px solid aqua;
    border-radius: 10px;
}
.team .team-content h2{
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}
.team .team-content h3{
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}
.team .team-content h4{
    color: #000000;
    font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
font-style: italic;
margin-bottom: 0;
}
.team .team-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.team .team-content h4:hover{
    color: white;
    border: 2px solid cyan;
    border-radius: 15px;
}
.team .team-social{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 35px;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}
.team:hover .team-social{
    opacity: 1;
}
.team .team-social a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:5px ;
    padding: 11px 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    transition: all .3s;
    margin-top: 50px;
}
.team .team-social a.social-tw{
    background: #00acee;
}
.team .team-social a.social-fb{
    background: #3b5998;
}
.team .team-social a.social-li{
    background: #0e76a8;
}
.team .team-social a.social-in{
    background: #3f729b;
}
.team .team-social a.social-yt{
    background: #c4302b;
}
.team .team-social a:last-child{
    margin-right: 0;
}
.team:hover .team-social a{
    margin-top: 0;
}
.team .team-social a:hover{
    background: #222222;
}


/* Mobile Responsive */

@media (min-width: 576px){
    .container1{
        max-width: 540px;
    }
    .column1{
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .container1{
        max-width: 720px;
    }
    .column1{
        max-width: 33.333333%;
    }
}
@media (min-width: 992px){
    .container1{
        max-width: 960px;
    }
    .column1{
        max-width: 25%;
    }
}
@media (min-width: 1200px){
    .container1{
        max-width: 1140px;
    }
   
}

.image{
    height: 480px;
}

/* cart  */

.cart{
    display: flex;
    background-color: rgb(198, 185, 8);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color: rgb(26, 24, 20);
}

.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(10, 10, 9);
}